.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  margin: 60px auto;
}

.header-content a img {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav ul a {
  box-sizing: border-box;
  margin-right: 32px;
  text-decoration: none;
  color: #808080;
  font: 400 0.8rem/1.125 "Inter", "Sans-Serif";
}

.traco {
  display: none;
}

.fechar {
  display: none;
}

.main-content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.flex-content {
  display: flex;
}

.introducao img {
  display: block;
  width: 750px;
  object-fit: cover;
}

.flex-introducao {
  display: flex;
  gap: 140px;
}

.texto-titulo {
  font: 800 3rem/1.125 "Inter", "Sans-Serif";
  color: #00001a;
}

.texto-paragrafo {
  margin-top: 32px;
  font: 400 0.9rem/1.8 "Inter", "Sans-Serif";
  color: #686868;
}

.botao {
  text-decoration: none;
  color: black;
  background: #f74131;
  font: 500 0.8rem/1.125 "Inter", "Sans-Serif";
  text-transform: uppercase;
  margin-left: 388px;
  padding: 16px 40px;
}

.introducao-new {
  margin-left: 24px;
  width: 294px;
  height: 400px;
  background: #00001a;
  color: white;
}

.detalhe {
  color: #e6a742;
  margin: 0px;
  padding: 20px 20px;
  font: 600 2rem/1.125 "Inter", "Sans-Serif";
}

.texto-grande {
  margin-left: 16px;
  font: 600 1rem/1.125 "Inter", "Sans-Serif";
}

.texto-pequeno {
  margin-left: 16px;
  font: 600 0.8rem/1.125 "Inter", "Sans-Serif";
  color: #b0afb5;
}

.lista {
  display: flex;
  max-width: 1100px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.lista img {
  width: 110px;
}

.flex-lista {
  display: flex;
  align-items: center;
}

.flex-texto {
  margin-top: 28px;
}

.flex-texto p {
  font: 800 1rem/1.125 "Inter", "Sans-Serif";
}

.flex-texto .texto2 {
  font-size: 12px;
  width: 262px;
  font-weight: 600;
  line-height: 16px;
}

.retro {
  position: relative;
}

.laptop {
  position: relative;
  width: 360px;
}

.growth {
  margin-left: 30px;
  position: relative;
}

.flex-lista p {
  margin-left: 16px;
  max-width: 100%;
}

span {
  display: inline-block;
  color: #f74131;
  font: 600 38px/1.125 "Inter", "Sans-Serif";
  position: absolute;
  top: 0px;
  left: 132px;
}

@media (max-width: 700px) {
  .header-content {
    margin: 80px 20px;
    width: 100vh;
  }
  nav ul {
    display: none;
  }
  .traco {
    display: block;
    width: 80px;
    height: 30px;
  }
  .grid-responsive {
    display: grid;
    grid-template-columns: 1fr;
  }
  .introducao-img img {
    display: block;
    margin-left: 20px;
    width: 100vh;
  }
}
